@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Plus Jakarta Sans", sans-serif';

  /* NOTE: Corrected the path */
}

.bg-dashboard-Body {
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.bg-root {
  background-image: url('/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-welcome {
  background-image: url('/firstCard.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
}

.clerk {
  display: none;
}

/* .cl-internal-zar2af{
 z-index: 0;
 background-color: green;
} */

.cl-socialButtonsIconButton__github {
  background-color: #fff !important;
  color: #fff !important;
}


.cl-socialButtonsIconButton__google {
  background-color: #fff !important;
  color: #000 !important;
}

/* LinkedIn Button */
.cl-socialButtonsIconButton__linkedin_oidc {
  background-color: #fff !important;
  color: #fff !important;
}

.cl-formFieldLabel {
  color: white;
}

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: white;
  border-end-end-radius: 9999px;
  border-top-right-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 9999px;
  border: 3px solid white;
}


@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(223, 38%, 54%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(229, 55%, 58%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);
    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(210 40% 98%);
    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);
    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(210, 5%, 68%);
    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);
    --border: hsl(0, 3%, 13%);
    --border-lines-area: hsl(0 0% 100%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(222.2 84% 4.9%);
    /* --chart-1: hsl(12 76% 61%); */
    --chart-1: hsl(191 100% 78%);
    /* --chart-2: hsl(173 58% 39%); */
    --chart-2: hsl(209 100% 53%);
    --chart-3: hsl(0 0% 95%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);
    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);
    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);
    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);
    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);
    --muted: hsl(0, 0%, 100%);
    --muted-foreground: hsl(220, 14%, 91%);
    --accent: hsl(0, 0%, 100%);
    --accent-foreground: hsl(210 40% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);
    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);
    --chart-1: hsl(30 90% 55%);
    --chart-2: hsl(30 90% 55%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(340 75% 55%);
  }
}


/* 
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background ;
  }
} */

/* E-commerce */

.swiper-button-prev,
.swiper-button-next {
  /* left: var(--swiper-navigation-sides-offset, 10px); */
  /* right: auto; */
  color: white !important;
  /* font-size: 0px; */
  /* font-weight: 900; */
  /* font-size: x-large; */
  background-color: #c00a27;
  width: 40px !important;
  border-radius: 4px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #f4b618;

}


.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  font-weight: bold;
}

.deal-prev{
  /* position: absolute;
  background-color: #000;
  right: -20px !important;
  z-index: 9999; */
  background-color: #fff !important;
  color: #be0b27 !important;
  border-radius: 50%;
  border: 1px solid rgb(226, 220, 220);
  width: 40px !important;
  /* font-size: 16px !important; */
}

.swiper-button-next,
.deal-prev::after{
  font-size: 16px !important;

}